@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BookSystem</title>


    <!-- Styles -->
    @Styles.Render("~/plugins/bootstrap/css")
    @Styles.Render("~/plugins/font-awesome/css")
    @Styles.Render("~/Content/css/")

    <!-- Scripts -->
    @Scripts.Render("~/plugins/jquery/js")
    @Scripts.Render("~/plugins/bootstrap/js")

    <script src="@Url.Content("~/Content/js/enum.js")"></script>
    <script src="@Url.Content("~/Content/js/enviroment.js")"></script>
    <script src="@Url.Content("~/Content/js/utils.js")"></script>
    <script src="@Url.Content("~/Content/js/requestXHR.js")"></script>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BookSystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-1 my-lg-0">
                <button id="LoginButton" type="button" class="btn btn-outline-light my-2 my-sm-0" >Entrar</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container mt-3">
        @RenderBody()
    </main>




    <!-- Modal: Confirmar Locação -->
    <div class="modal fade" id="ConfirmRentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alugar livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirma aluguel do livro?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        <span>Continuar</span>
                    </button>
                    <button type="button" class="btn btn-outline-default btn-block" data-dismiss="modal">
                        <i class="fas fa-times mr-1"></i>
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>





    @RenderSection("scripts", required: false)

</body>
</html>
