@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BookSystem</title>


    <!-- Styles -->
    @Styles.Render("~/plugins/bootstrap/css")
    @Styles.Render("~/plugins/font-awesome/css")
    @Styles.Render("~/Content/css/")

    <!-- Scripts -->
    @Scripts.Render("~/plugins/jquery/js")
    @Scripts.Render("~/plugins/bootstrap/js")

    <script src="@Url.Content("~/Content/js/enum.js")"></script>
    <script src="@Url.Content("~/Content/js/enviroment.js")"></script>
    <script src="@Url.Content("~/Content/js/utils.js")"></script>
    <script src="@Url.Content("~/Content/js/requestXHR.js")"></script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>


</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BookSystem</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-light my-2 my-sm-0 px-4" id="LogoutButton" style="display: none;">Sair</button>
            </div>
        </div>
    </nav>

    <main role="main" class="container mt-3">
        @RenderBody()
    </main>

    <footer class="mt-5">
        <p>Desenvolvido por <b>Leonardo J. Valcarenghi</b></p>
    </footer>




    <!-- Modal: Confirmar Locação -->
    <div class="modal fade bd-example-modal-lg" id="ConfirmRentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Alugar livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-3">
                                <img src="" style="width: 100%;" />
                            </div>

                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Livro</label>
                                        <p name="BookName"></p>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Escritor</label>
                                        <p name="BookAuthor"></p>
                                    </div>

                                    <div class="col-md-12">
                                        <label>Ano</label>
                                        <p name="BookYear"></p>
                                    </div>

                                    <div class="col-md-12">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <p style="position: absolute; left: 30px;"><b>Confirma aluguel do livro?</b></p>
                    <button type="button" class="btn btn-primary ok">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        <span>Confirmar</span>
                    </button>
                    <button type="button" class="btn btn-outline-default" data-dismiss="modal">
                        <i class="fas fa-times mr-1"></i>
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>





    @RenderSection("scripts", required: false)



</body>
</html>
